layout {
    background-color "transparent"

    focus-ring {
        active-color   "#c6c1f3"
        inactive-color "#928f99"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c6c1f3"
        inactive-color "#928f99"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c6c1f3"
        inactive-color "#928f99"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c6c1f380"
    }
}

recent-windows {
    highlight {
        active-color   "#1c1941"
        urgent-color   "#ffb4ab"
    }
}