zoom {
    movement-mode "on-edge"
    increment-type "exponential"
    pinch-sensitivity 1.0
    max-zoom 20.0
}

cursor {
    scale-with-zoom false
}

binds {
    Mod+Alt+Equal   { set-zoom-level "+0.3"; }
    Mod+Alt+Minus   { set-zoom-level "-0.3"; }
    Mod+Z           { set-zoom-level "1.0"; }
    Mod+Shift+Z     { toggle-zoom-lock; } // locks focal center, will also make it lock level
}

animations {
    // ========================
    zoom-level-change {
        duration-ms 100
        curve "cubic-bezier" 0.05 0.7 0.1 1 // CSS cubic-bezier curve
    }
    zoom-focal-pan {
        duration-ms 100
        curve "cubic-bezier" 0.05 0.7 0.1 1 // CSS cubic-bezier curve
    }
    // ========================
}
