// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

// ============== Layer Rules ===============
// Place quickshell in the backdrop layer
// This gets DMS wallpaper as overview backdrop
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

// Block out sensitive components from screencasts
layer-rule {
    match namespace="^dms:clipboard$"
    block-out-from "screencast"
}

// Shadows for the bar and dock layers, which are otherwise ignored by the default shadow rules.
layer-rule {
    match namespace="^dms:bar$"
    match namespace="^dms:dock$"

    shadow {
	// on
	off
	softness 40
	spread 5
	offset x=2 y=2
	draw-behind-window true
	color "#00000064"
	// inactive-color "#00000064"
    }
}

layer-rule {
    exclude namespace="dms:(bar|quickterm)"
    exclude namespace="wayscriber"

    background-effect {
	xray true
	blur true
	noise 0.02      // grain overlay (default: 0.02)
	saturation 1.0  // color saturation boost (default: 1.5)
    }
}

// ==========================================

// ============== Window Rules ==============

// Enable rounded corners for all windows
// And disable border drawing with background by default
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

// Enable shadows for all floating windows
window-rule {
    match is-floating=true
    shadow {
	on
    }
}

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Remove borders and rounded corners from GNOME apps.
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

// Open browser windows as fullscreen by default.
window-rule {
    match app-id=r#"^(zen|[Ff]irefox|org\.mozilla\.firefox|[Cc]hromium|[Bb]rave)$"#
    open-fullscreen true
}

// Open the Zen|Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    // match app-id=r#"^zen|zoom|(org\.mozilla\.)?firefox$"#
    match title=r#"^Picture-in-Picture$"#
    open-floating true
    default-floating-position x=16 y=48 relative-to="bottom-right"
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
}

// Browser popups (Sign In, Sign Up, Extensions) - open as floating
window-rule {
    match app-id=r#"^(zen|firefox|org\.mozilla\.firefox)$"#
    match title=r#"(?i)([Ee]xtension|Sign[ ]In|Log[ ]In|Sign[ ]Up(?:))"#

    opacity 0.8
    open-floating true
    default-floating-position x=16 y=48 relative-to="top-right"
    default-column-width { fixed 480; }
    default-window-height { fixed 480; }
}

// Open satty as floating+focused by default.
window-rule {
    match app-id="satty"
    open-floating true
    open-focused true
}

// Block out password managers from screen capture.
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^zen|zoom|firefox$"# title=r#"^Extension.*Bitwarder.*$"#
    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Set specific apps to use half the screen width by default.
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}

// Open certain small utilities as floating by default.
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}

// Make all windows slightly transparent by default
// And enable xray blur for them
window-rule {
    opacity 0.90
    background-effect {
	xray true
	blur true
	noise 0.04      // grain overlay (default: 0.02)
	saturation 1.5  // color saturation boost (default: 1.5)
    }
}

// Make inactive windows slightly transparent
window-rule {
    match is-active=false
    opacity 0.7
}

// Open dms windows as floating by default
window-rule {
    match app-id=r#"^com.danklinux.dms$"#
    open-floating true
}

// Remove borders from certain terminal emulators.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id=r#"Alacritty|kitty"#
    match app-id="com.mitchellh.ghostty"
    draw-border-with-background false
}

// Open Terminal windows as maximized by default
window-rule {
    match app-id=r#"^org\.gnome\.Terminal$"#
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id=r#"Alacritty|kitty"#
    match app-id="com.mitchellh.ghostty"
    match is-focused=true
    open-maximized-to-edges true
}

// Enable on-demand VRR when mpv displays on the output.
window-rule {
    match app-id="^mpv$"

    variable-refresh-rate true
}

// Indicate screencasted windows with urgent state and a custom border.
// Make all is-urgent windows draw attention with a unique border.
window-rule {
    match is-window-cast-target=true
    match is-urgent=true

    border {
	urgent-gradient from="#f38ba8" to="#7d0d2d70" angle=360 in="oklch longer hue"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

// ==========================================
