// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// Includes come first, because with KDL, they can be overridden afterwards
// This allows for user configuration to live out of this file after the DMS
// settings includes.

include "dms/binds.kdl"        // Includes DMS binds settings
include "dms/layout.kdl"       // Includes DMS layout settings
include "dms/colors.kdl"       // Includes DMS color settings
include "dms/cursor.kdl"       // Includes DMS output settings
include "dms/outputs.kdl"      // Includes DMS output settings
include "dms/wpblur.kdl"       // Includes DMS wallpaper blur settings
include "dms/windowrules.kdl"  // Includes DMS window rules
include "dms/alttab.kdl"       // Includes DMS alt-tab settings

// Use a custom build of xwayland-satellite.
xwayland-satellite {
    // off
    path "xwayland-satellite"
}

switch-events {
    tablet-mode-on {
        spawn \
        "sh" "-c" \
        "
            notify-send 'Tablet Mode: On' ;
            # niri msg output $(niri msg --json focused-output | jq -r '.name') transform 90 ;
            niri msg action do-screen-transition --delay-ms 500 ;
            dms ipc call bar manualHide index 0;
            wvkbd-mobintl
        " \
        ;
    }
    tablet-mode-off {
        spawn \
        "sh" "-c" \
        "
            notify-send 'Tablet Mode: Off' ;
            # niri msg output $(niri msg --json focused-output | jq -r '.name') transform normal ;
            niri msg action do-screen-transition --delay-ms 500 ;
            dms ipc call bar autoHide index 0;
            pkill wvkbd-mobintl
        " \
        ;
    }
}

config-notification {
    disable-failed
}

cursor {
    hide-when-typing
}

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!
/-output "eDP-1" { // Overrides for DMS output settings
    // Uncomment this line to disable this output.
    // off

    // Resolution and, optionally, refresh rate of the output.
    // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    // If the refresh rate is omitted, niri will pick the highest refresh rate
    // for the resolution.
    // If the mode is omitted altogether or is invalid, niri will pick one automatically.
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "1920x1080@60.002"

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 1

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // Position of the output in the global coordinate space.
    // This affects directional monitor actions like "focus-monitor-left", and cursor movement.
    // The cursor can only move between directly adjacent outputs.
    // Output scale and rotation has to be taken into account for positioning:
    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    // If the position is unset or results in an overlap, the output is instead placed
    // automatically.
    // position x=1280 y=0
}

gestures {
    hot-corners {
        off
    }
}

overview {
    zoom 0.4

    workspace-shadow {
        // off
        softness 40
        spread 10
        offset x=0 y=10
        color "#00000050"
    }
}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Media/images/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Enable debug options
debug {
    honor-xdg-activation-with-invalid-serial
}

recent-windows { // Override to disable super+tab
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

/-workspace "special" {
    open-on-output "eDP-1"
}

include "config/init.kdl"
include "config/layout.kdl"
include "config/animations.kdl"
include "config/input.kdl"
include "config/binds.kdl"
include "config/rules.kdl"
include "config/nightly.kdl"
