// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

// ============== Layer Rules ===============
// Place quickshell in the backdrop layer
// This gets DMS wallpaper as overview backdrop
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

// ==========================================

// ============== Window Rules ==============
// Enable rounded corners for all windows
// And disable border drawing with background by default
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    draw-border-with-background false
}

// Enable shadows for all floating windows
window-rule {
    match is-floating=true
    shadow {
	on
    }
}

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Remove borders and rounded corners from GNOME apps.
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

// Open the Zen|Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    // match app-id=r#"^zen|zoom|(org\.mozilla\.)?firefox$"#
    match title=r#"^Picture-in-Picture$"#
    open-floating true
    default-floating-position x=16 y=48 relative-to="bottom-right"
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
}

// Browser popups (Sign In, Sign Up, Extensions) - open as floating
window-rule {
    match app-id=r#"^(zen|firefox|org\.mozilla\.firefox)$"# title=r#"(?i)(Extension|Sign[ ]In|Log[ ]In|Sign[ ]Up)"# is-floating=true
    opacity 0.5
    default-floating-position x=16 y=48 relative-to="top-right"
    max-width 720
    max-height 720
}

// Open satty as floating+focused by default.
window-rule {
    match app-id="satty"
    open-floating true
    open-focused true
}

// Block out password managers from screen capture.
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^zen|zoom|firefox$"# title=r#"^Extension.*Bitwarder.*$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Set specific apps to use half the screen width by default.
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}

// Open certain small utilities as floating by default.
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}

// Remove borders from certain terminal emulators.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id=r#"Alacritty|kitty"#
    match app-id="com.mitchellh.ghostty"
    draw-border-with-background false
}

// Make inactive windows slightly transparent
window-rule {
    match is-active=false
    opacity 0.9
}

// Open dms windows as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}

// Open Terminal windows as maximized by default
window-rule {
    match app-id=r#"^org\.gnome\.Terminal$"#
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id=r#"Alacritty|kitty"#
    match app-id="com.mitchellh.ghostty"
    match is-focused=true
    open-maximized true
}
// ==========================================
